.principal{
  background: #CCCCCC;
  padding: 30px
}
#banner{
width: 100%;
}
.titulo_principal{
  padding-left: 20px ;
}
.titulo_centralizado{
  text-align: center;
}
p{
  text-align: center;
}
#mission{
  font-size: 1.25rem;

}
#mission strong{
  color: #f00;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.itens{
  font-style: italic;
  background-color: rgb(255, 255, 255);
  
}
.beneficios{
  background: rgb(255, 255, 255);
}
.beneficios h2{
  text-align: center;
}
.img_beneficios{
  width: 50%;
}